LTC_01000000_1mins_25fps_48000x24.wav
LTC_01000000_1mins_30fps_48000x24.wav
LTC_01000000_10mins_25fps_44100x24.wav
CACAU_011_V2.edl
.DS_Store
copy_from_mogstaging.sh
copy_to_mogstaging.sh
crash.log
device_info.json
Figure_1.png
adv-ff.py
input_test_8bits.wav
input_test.wav
real_tc.png
sync_word.png
__pycache__/edl_manager.cpython-310.pyc
__pycache__/source-shake.cpython-310.pyc
__pycache__/tc_obs.cpython-310.pyc
__pycache__/tc.cpython-310.pyc
__pycache__/tc.cpython-311.pyc
